<div class="navbar-fixed">
  <nav >
    <div class="nav-wrapper blue">
      <div class="container" id="navbar-fixed">
        <a href="/" class="brand-logo">{{ .Site.Title}}</a>
        <a href="/" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          {{ range .Site.Menus.main }}
          <li><a {{ if $.IsHome }} href="{{ .URL }}"

                    data-target="{{ .URL }}"
                 {{ else }}
                 href="{{ .URL | relLangURL }}"
                 {{ end }}>
            {{ .Pre }}<span>{{ .Name }}</span></a></li>

          {{ end }}
        </ul>
        <ul class="side-nav" id="mobile-demo">
          {{ range .Site.Menus.main }}
          <li><a {{ if $.IsHome }} href="{{ .URL }}"

                 data-target="{{ .URL }}"
                 {{ else }}
                 href="{{ .URL | relLangURL }}"
                 {{ end }}>
            {{ .Pre }}<span>{{ .Name }}</span></a></li>

          {{ end }}
        </ul>
      </div>
    </div>
  </nav>
</div>
